@model EducateAppChu.Models.Data.IntermediateCertificationType

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Просмотр вида промежуточной аттестации</h4>
        <button type="button" class="close" data-dismiss="modal">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.InterCertType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.InterCertType)
            </dd>
        </dl>
    </div>
</div>